.Outline-box{
  display: flex;
  justify-content: center;
  border: 1px solid gray;
  width:min-content;
  margin:80px auto;
  border-radius: 15px;
}
form{
  height: 500px;
  width: 550px;
  text-align: center;
}
select{
  border: none;
}

.img-box{
  height:500px;
  width:600px;
}
.img-box img{
  height:100%;
  width:100%;
  object-fit:cover;
  border-top-right-radius:15px;
  border-bottom-right-radius: 15px;
}

form .i-feild{
  height:40px;
  width:350px;
  padding-left:15px;
  border: 1px solid white;
  border-radius: 15px;
  background-color: rgb(212, 229, 244);
}
form .i-feild:hover{
  transform:translateY(-5px);
  transition: 0.5s;
}
.btn{
  padding:10px 100px;
  border:2px solid rgb(20, 180, 47);
  border-radius:20px;
  font-size: 16px;
  color: aliceblue;
  background-color: rgb(232, 170, 94);
}
.btn:hover{
  transform:translateY(-10px);
  transition: 0.5s;
  color: black;
  background-color: teal;
}